#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* background-image: url("./assets/img/hogsmeade.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

/* nav */

.navHome {
  width: 87%;
  height: 120px;
  background-color: rgb(36, 35, 31);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* border: 5px solid white; */
  box-shadow: rgb(154, 176, 12) 0px 20px 30px -10px;
}
.navOllivanders {
  width: 87%;
  height: 120px;
  background-color: rgb(36, 35, 31);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* border: 5px solid white; */
  box-shadow: rgb(178, 113, 17) 0px 20px 30px -10px;
}
.navHoneydukes {
  width: 87%;
  height: 120px;
  background-color: rgb(36, 35, 31);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* border: 5px solid white; */
  box-shadow: rgb(151, 36, 169) 0px 20px 30px -10px;
}
.navMenagerie {
  width: 87%;
  height: 120px;
  background-color: rgb(36, 35, 31);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* border: 5px solid white; */
  box-shadow: rgb(18, 140, 35) 0px 20px 30px -10px;
}
.navQuidditch {
  width: 87%;
  height: 120px;
  background-color: rgb(36, 35, 31);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* border: 5px solid white; */
  box-shadow: rgb(36, 69, 169) 0px 20px 30px -10px;
}

.link {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.navTitle {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 35px;
  /* background-color: blue; */
}

.navLinks {
  width: 50%;
  height: 100%;
  /* background-color: yellow; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.navLog {
  width: 30%;
  height: 100%;
  /* background-color: green; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.linkLog {
  text-decoration: none;
  color: white;
  font-size: 17px;
  font-weight: bold;
}

/* end nav  */

/* home */

.home {
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 30px;
}

.carousel {
  width: 87%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/img/hogsmeade.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  position: relative;
}

.tints {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(1, 1, 1, 0.683);
}

.carousel img {
  width: 30%;
  /* height: 85%; */
}

.articlesMap {
  width: 87%;
  /* height: 1800px; */
  background-color: rgb(21, 20, 27);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 80px;
}

.articles {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 80px;
}

.article {
  width: 27%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border: 2px solid white;
  position: relative;
}

.articleDivImg {
  width: 100%;
  height: 70%;
  /* border: 1px solid sandybrown; */
}

.imgPrincipale {
  width: 100%;
  height: 100%;
}

.imgLoupe {
  width: 25%;
  height: 0%;
  position: absolute;
  top: 0%;
  left: 40%;
  transition: all .5s ease-in-out;
  /* display: none; */
  cursor: pointer;
}

.article:hover .imgLoupe {
  height: 20%;
  top: 35%;
}

.hiddenInfo {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* end home */

/* ollivanders */

.ollivanders {
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 30px;
}

.wands {
  width: 87%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}


/* end ollivanders */

/* honeydukes */

.honeydukes {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

/* end honeydukes */

/* menagerie */

.menagerie {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

/* end menagerie */

/* quidditch */

.quidditch {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

/* end quidditch */

/* login */

.logIn {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.form {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  /* background-color: white; */
}

.textLogin {
  font-size: 45px;
}

.inputLogin {
  width: 300px;
  height: 40px;
  font-size: 25px;
}

.btnLogin {
  width: 150px;
  height: 60px;
  cursor: pointer;
  background-color: rgb(191, 120, 57);
  border: 3px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  border-radius: 3px;
}

.btnLogin:hover {
  background-color: black;
}

.cart {
  width: 100%;
  /* height: 85%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.cartTab {
  width: 87%;
  /* height: 400px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(219, 205, 19);
  border: 3px solid white;
}

.tableau {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

/* products */

.products {
  width: 100%;
  /* height: 1800px; */
  background-color: rgb(21, 20, 27);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 80px;
}

.product {
  width: 87%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
}

.productImg {
  width: 50%;
  /* height: 500px; */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
}

.productImg img {
  width: 60%;
  height: 500px;
}

.productDetail {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  border: 2px solid white;
  gap: 40px;
}

.productTitle {
  font-size: 45px;
}

.productPrice {
  font-size: 35px;
}

.productBtn {
  width: 170px;
  height: 60px;
  background-color: rgb(188, 143, 30);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
  font-size: 20px;
  border: 3px solid white;
}

.productBtn:hover {
  background-color: black;
}

.productDetails {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.hiddenDetails {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* end products */
