@font-face {
  font-family: HarryP;
  src: url(./assets/fonts/HarryP.ttf);
}

#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: HarryP;
  /* background-image: url("./assets/img/hogsmeade.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

/* nav */

.navHome {
  width: 87%;
  height: 120px;
  background-color: rgb(36, 35, 31);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* border: 5px solid white; */
  box-shadow: rgb(154, 176, 12) 0px 20px 30px -10px;
  font-family: HarryP;
}
.navOllivanders {
  width: 87%;
  height: 120px;
  background-color: rgb(36, 35, 31);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* border: 5px solid white; */
  box-shadow: rgb(178, 113, 17) 0px 20px 30px -10px;
  font-family: HarryP;
}
.navHoneydukes {
  width: 87%;
  height: 120px;
  background-color: rgb(36, 35, 31);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* border: 5px solid white; */
  box-shadow: rgb(151, 36, 169) 0px 20px 30px -10px;
  font-family: HarryP;
}
.navMenagerie {
  width: 87%;
  height: 120px;
  background-color: rgb(36, 35, 31);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* border: 5px solid white; */
  box-shadow: rgb(18, 140, 35) 0px 20px 30px -10px;
  font-family: HarryP;
}
.navQuidditch {
  width: 87%;
  height: 120px;
  background-color: rgb(36, 35, 31);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* border: 5px solid white; */
  box-shadow: rgb(36, 69, 169) 0px 20px 30px -10px;
  font-family: HarryP;
}

.link {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.navTitle {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: rgb(212, 177, 63); */
  font-size: 50px;
  /* background-color: blue; */
  font-family: HarryP;
}
.hogsmeade{
  color: rgb(212, 177, 63);
}
.olli{
  color: rgb(178, 113, 17);
}
.honey{
  color: rgb(151, 36, 169);
}
.mag{
  color: rgb(18, 140, 35);
}
.quid{
  color: rgb(36, 69, 169);
}

.navLinks {
  width: 55%;
  height: 100%;
  /* background-color: yellow; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
#home{
  font-size: 25px;
}
#ollivanders{
  font-size: 25px;
}
#honeydukes{
  font-size: 25px;
}
#menagerie{
  font-size: 25px;
}
#quidditch{
  font-size: 25px;
}

/* .chest {
  width: 30%;
  height: 100%;
  background-color: yellow;
} */

.navLog {
  width: 30%;
  height: 100%;
  /* background-color: green; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.linkLog {
  text-decoration: none;
  color: white;
  font-size: 17px;
  font-weight: bold;
}

/* end nav  */

/* home */

.home {
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 30px;
}

.carousel {
  width: 87%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/img/hogsmeade.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  position: relative;
  box-shadow: rgb(154, 176, 12) 0px 20px 30px -10px;
}

.tints {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(1, 1, 1, 0.683);
}

.carousel img {
  width: 30%;
  /* height: 85%; */
}

.articlesMap {
  width: 87%;
  /* height: 1800px; */
  background-color: rgb(21, 20, 27);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 80px;
}

.articles {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px;
}

.article {
  width: 30%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid white; */
  position: relative;
  background-image: url("/assets/img/border.jpg");
  background-position: center;
  font-size: 28px;
}

p{
  margin: 0;
}

.articleDivImg {
  width: 100%;
  height: 70%;
  /* border: 1px solid sandybrown; */
}

.imgPrincipale {
  width: 100%;
  height: 100%;
}

.imgLoupe {
  width: 25%;
  height: 0%;
  position: absolute;
  top: 0%;
  left: 40%;
  transition: all .5s ease-in-out;
  /* display: none; */
  cursor: pointer;
}

.article:hover .imgLoupe {
  height: 20%;
  top: 35%;
}

.hiddenInfo {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* end home */

/* ollivanders */

.ollivanders {
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 30px;
}

.wands {
  width: 87%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}


/* end ollivanders */

/* honeydukes */

.honeydukes {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

/* end honeydukes */

/* menagerie */

.menagerie {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

/* end menagerie */

/* quidditch */

.quidditch {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

/* end quidditch */

/* login */

.logIn {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.form {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  /* background-color: white; */
}

.textLogin {
  font-size: 45px;
}

.inputLogin {
  width: 300px;
  height: 40px;
  font-size: 25px;
}

.btnLogin {
  width: 150px;
  height: 60px;
  cursor: pointer;
  background-color: rgb(191, 120, 57);
  border: 3px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  border-radius: 3px;
}

.btnLogin:hover {
  background-color: black;
}

.cart {
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.cartTab {
  width: 87%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(27, 27, 23);
  /* border: 3px solid white; */
  box-shadow: rgb(154, 176, 12) 0px 20px 30px -3px;
}

.tableau {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

/* products */

.products {
  width: 100%;
  /* height: 1800px; */
  background-color: rgb(21, 20, 27);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 80px;
}

.product {
  width: 87%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
}

.productImg {
  width: 50%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid white; */
  background-image: url("/assets/img/border.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.productImg img {
  width: 60%;
  height: 450px;
}

.productDetail {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  /* border: 2px solid white; */
  gap: 40px;
  font-size: 18px;
}

.productTitle {
  font-size: 60px;
}

.productPrice {
  font-size: 45px;
}

.productBtn {
  width: 170px;
  height: 60px;
  background-color: rgb(188, 143, 30);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
  font-size: 20px;
  border: 3px solid white;
}

.productBtn:hover {
  background-color: black;
}

.productDetails {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 20px;
}

.hiddenDetails {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 20px;
}

/* end products */

/* footer */

.footerHome {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: rgb(20, 24, 19);
  gap: 70px;
  box-shadow: rgb(154, 176, 12) 0px 20px 30px 30px;
}
.footerOllivanders {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: rgb(20, 24, 19);
  gap: 70px;
  box-shadow: rgb(178, 113, 17) 0px 20px 30px 30px;
}
.footerHoneydukes {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: rgb(20, 24, 19);
  gap: 70px;
  box-shadow: rgb(151, 36, 169) 0px 20px 30px 30px;
}
.footerMenagerie {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: rgb(20, 24, 19);
  gap: 70px;
  box-shadow: rgb(18, 140, 35) 0px 20px 30px 30px;
}
.footerQuidditch {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: rgb(20, 24, 19);
  gap: 70px;
  box-shadow: rgb(36, 69, 169) 0px 20px 30px 30px;
}

.footDiv{
  width: 19%;
  height: 70%;
  /* border: 2px solid blue; */
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
} 

.footertitle {
  font-size: 30px;
  margin-bottom: 10px;
}

.divFootImg {
  width: 100%;
  height: 60%;
}

.divFootImg img {
  width: 100px;
  height: 130px;
}

/* end footer */

/* modal login */

.modalPseudo {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* overflow: auto; */
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-contentPseudo {
  width: 45%;
  height: 38%;
  background-color: rgb(28, 26, 29);
  position: absolute;
  top: 28%;
  left: 28%;
  border-radius: 10px;
  border: 5px solid rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.texteModalPseudo {
  font-size: 25px;
  color: white;
  font-weight: bold;
}

.btnModalPseudo {
  background-color: rgb(255, 255, 255);
  width: 150px;
  height: 50px;
  cursor: pointer;
  border-radius: 5px;
  /* border: 3px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: rgb(40, 43, 49);
  box-shadow: rgba(243, 243, 245, 0.1) 0px 4px 0px;
  transition: all .3s ease-in-out;
}

.btnModalPseudo:hover {
  background-color: black;
  color: white;
  border: 3px solid white;
  box-shadow: none;
  transform: translateY(5px);
}

/* end modal login */